<div class="box box-info users-update">
        <div class="box-header with-border">
            <h3 class="box-title">更改用户信息</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" id="update-users-form" enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label for="_id" class="col-sm-2 control-label">用户ID</label>
    
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="_id" id="directorName"  value="{{ data._id || '' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">用户名称</label>
    
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" name="userName"  id="userName" value="{{ data.userName || '' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userPhone" class="col-sm-2 control-label">用户电话</label>
    
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="userPhone" id="starName"  value="{{ data.userPhone || '' }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="signTime" class="col-sm-2 control-label">注册时间</label>
    
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="signTime" id="showTime" value="{{ data.signTime || '' }}">
                    </div>
                </div>
                 <div class="form-group">
                    <label for="limitType" class="col-sm-2 control-label">限制级用户</label>
                    
                    <div class="col-sm-10">
                            <select name="limitType" style="width:200px;height:34px">
                                <option value="{{data.limitType=='true'?'true':'false'}}">{{data.limitType=='true'?'是':'否'}}</option>
                                <option value="{{data.limitType!='true'?'true':'false'}}">{{data.limitType!='true'?'是':'否'}}</option>
                            </select>
                        <!-- <input type="text" class="form-control" name="limitType" id="language"  value="{{ data.limitType ? '是':'否' || '否' }}"> -->
                    </div>
                </div>
            </div>
    
            
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="button" id="back" class="btn btn-default">返回列表</button>
                <button type="submit" class="btn btn-info pull-right">提交</button>
                <button type="reset" class="btn btn-default pull-right" style="margin-right: 15px">重置</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>