<div class="box box-info users-save">
    <div class="box-header with-border">
        <h3 class="box-title">添加用户信息</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" id="save-user-form" enctype="multipart/form-data">
        <div class="box-body">
            <!-- <div class="form-group">
                <label for="usersLogo" class="col-sm-2 control-label">用户头像</label>

                <div class="col-sm-10">
                    <input  type="file" name="usersLogo" id="usersLogo" />
                    <img id="portrait" src="" style="display:none;width: 100px;height: 100px; margin-top: 20px" />

                </div>
            </div>
            <div class="form-group">
                <label for="usersName" class="col-sm-2 control-label">用户名称</label>

                <div class="col-sm-10">
                    <input required type="text" class="form-control" name="usersName" id="usersName" placeholder="请输入电影名称">
                </div>
            </div>
            <div class="form-group">
                <label for="directorName" class="col-sm-2 control-label">用户ID</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="directorName" id="directorName" placeholder="请输入导演">
                </div>
            </div> -->
            <div class="form-group">
                <label for="userPhone"  class="col-sm-2 control-label">用户电话</label>

                <div class="col-sm-10">
                    <input type="text" required class="form-control" name="userPhone" id="starName" placeholder="请输入电话号码">
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="showTime" class="col-sm-2 control-label">上映时间</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="showTime" id="showTime" placeholder="请输入上映时间">
                </div>
            </div>
             <div class="form-group">
                <label for="language" class="col-sm-2 control-label">语言</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" name="language" id="language" placeholder="请输入语言类型">
                </div>
            </div> -->
            <div class="form-group">
                <label for="limitType" class="col-sm-2 control-label">类型</label>

                <div class="col-sm-10">
                    <select name="limitType" style="width:200px;height:34px">
                        <option value="false">否</option>
                        <option value="true">是</option>
                    </select>
                </div>
            </div>
        </div>

        
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" id="back" class="btn btn-default">返回列表</button>
            <button type="submit" class="btn btn-info pull-right">提交</button>
            <button type="reset" class="btn btn-default pull-right" style="margin-right: 15px">重置</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>