{{if type=== 'signin' }}
<div class='login signIn'>
    <div class='login_title'>
        <span>管理员登录</span>
    </div>
    <div class='login_fields'>
        <form id="signin-form">
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/user_icon_copy.png'>
                </div>
                <input name="username" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="" />
                <div class='validation'>
                    <img alt="" src='../static/libs/admin/images/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/lock_icon_copy.png'>
                </div>
                <input name="password" placeholder='密码' maxlength="16" type='text' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='../static/libs/admin/images/tick.png'>
                </div>
            </div>
            <!-- <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/key.png'>
                </div>
                <input name="nickname" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
            </div> -->
            <div class='login_fields__submit sign'>
                <input type='submit' value='登录'>
                <input data-type="singup" class="switch-btn" type='button' value='注册'>
            </div>
        </form>
    </div>
    <div class='success'>
    </div>
    <div class='disclaimer'>
        <p>欢迎登陆后台管理系统</p>
    </div>
</div>
{{ else }}
<div class='login signOut'>
    <div class='login_title'>
        <span>管理员注册</span>
    </div>
    <div class='login_fields'>
        <form id="signup-form">
            <div class='login_fields__user'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/user_icon_copy.png'>
                </div>
                <input required name="username" placeholder='用户名' maxlength="16" type='text' autocomplete="off" value="" />
                <div class='validation'>
                    <img alt="" src='../static/libs/admin/images/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/lock_icon_copy.png'>
                </div>
                <input required name="password" placeholder='密码' maxlength="16" type='text' autocomplete="off">
                <div class='validation'>
                    <img alt="" src='../static/libs/admin/images/tick.png'>
                </div>
            </div>
            <div class='login_fields__password'>
                <div class='icon'>
                    <img alt="" src='../static/libs/admin/images/key.png'>
                </div>
                <input name="nickname" placeholder='昵称' maxlength="4" type='text' name="ValidateNum" autocomplete="off">

            </div>
            <div class='login_fields__submit sign'>
                <input type='submit' value='注册'>
                <input data-type="signin" class="switch-btn" type='button' value='登录'>
            </div>
        </form>

    </div>
    <div class='success'>
    </div>
    <div class='disclaimer'>
        <p>欢迎注册后台管理系统</p>
    </div>
</div>
{{ /if }}